<!-- app/views/user_mailer/welcome_email.html.erb --> 
<!DOCTYPE html>
 <html>  
  <body>     
  	<h1>Welcome to My Awesome Site, <%= @supplier.name %>!</h1> 
  	    <p>       You have successfully Create Inventory,
  	    	your username is: <%= @supplier.email %>.     </p>  

 </body> </html>